services:
  auth-api-prod:
    build: 
      context: ./auth-api
      dockerfile: Dockerfile
      target: production
    depends_on:
      postgres-prod:
        condition: service_healthy
    environment:
      - NODE_ENV=production
    env_file:
      - .env.production
    ports:
      - "3001:3001"
    networks:
      - backend_network
  postgres-prod:
    image: postgres:16
    restart: always
    env_file:
      - .env.production
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U emilio_botier -d auth_db_prod"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - backend_network
volumes:
  postgres_data_prod:

networks:
  backend_network:
    driver: bridge