services:
  auth-api:
    image: node:24.12.0
    build: ./auth-api
    ports:
      - 3001:3001
    environment:
      NODE_ENV: development
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend
  postgres:
    image: postgres:16
    container_name: auth_postgres_db
    restart: unless-stopped
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
volumes:
  postgres_data:

networks:
  backend:
    driver: bridge