services:
  auth-api:
    image: node:24.12.0
    build: ./auth-api
    ports:
      - 3001:3001
    environment:
      NODE_ENV: development
  postgres:
    image: postgres:16
    container_name: auth_postgres_db
    env_file:
      - .env
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
volumes:
  postgres_data:

networks:
  backend:
    driver: bridge